<br>
<div class="c-side-pane t-toolbar">
	<span style="color:#fff; margin-left:10px;">Background</span>
</div>
<div class="config-option-format">
	<pv-color-picker id="backgroundColor" ng-model="config.backgroundColor" config="config">
</pv-color-picker></div>	
<br>
<div class="c-side-pane t-toolbar">
	<span style="color:#fff; margin-left:10px;">Outline</span>
</div>
<div class="config-option-format">
	<pv-color-picker id="outlineColor" ng-model="config.outlineColor" config="config">
</pv-color-picker></div>
<br>
<div class="c-side-pane t-toolbar">
	<span style="color:#fff; margin-left:10px;">Text</span>
</div>
<div class="config-option-format">
	<pv-color-picker id="textColor" ng-model="config.textColor" config="config">
</pv-color-picker></div>	
<label class="flex-align-center" style="margin-top:8px; margin-left: 8px;"> 
	<input type="checkbox" class="c-config-checkbox" 
		   ng-model="config.showTitle">Show Title<br /> 
</label> 
<label class="flex-align-center" style="margin-top:8px; margin-left: 8px;">
	<input type="checkbox" class="c-config-checkbox"
		   ng-model="config.showLabels">Show Labels<br />
</label>
<label class="flex-align-center" style="margin-top:8px; margin-left: 8px;"> 
	<input type="checkbox" class="c-config-checkbox"
		   ng-model="config.showLegend">Show Legend<br />
</label> 
<label class="flex-align-center" style="margin-top:8px; margin-left: 8px;">
	<input type="checkbox" class="c-config-checkbox"
		   ng-model="config.donut">Donut<br />
</label>
<br>