<div style="padding:15px;font-size:14px">
	<div>URL:
        <input style="margin-left:5px;vertical-align:middle;margin-bottom:2px"
               type="text"
               ng-model="config.targetURL"
               ng-model-options="{ debounce: 1000 }">
    </div>
    <br/>
    <div>Enable Refresh:
        <input style="margin-left:5px;vertical-align:middle;margin-bottom:2px"
               type="checkbox"
               ng-model="config.enableRefresh">
    </div>
    <br/>
	<div>Refresh Interval (seconds):
        <input style="margin-left:5px;vertical-align:middle;margin-bottom:2px"
               type="number"
               ng-model="config.refreshIntervalSeconds"
               ng-model-options="{ debounce: 1000 }">
    </div>
</div>