<div class="c-side-pane t-toolbar">
    <span style="color:#fff; margin-left:15px">Attributes Names Settings</span>
</div>

<div class="c-config-content">
    Latitude attribute index:
    <input type="text" ng-model="config.Index">
</div>
<div class="c-config-content">
    Longitude attribute index:
    <input type="text" ng-model="config.LngIndex">
</div>

<div class="c-config-content">
    Heading attribute index:
    <input type="text" ng-model="config.HeadingIndex">
</div>
<div class="c-config-content">
    Pitch attribute index:
    <input type="text" ng-model="config.PitchIndex">
</div>

<div class="c-config-content">
    Zoom attribute index:
    <input type="text" ng-model="config.ZoomIndex">
</div>

<div class="c-side-pane t-toolbar">
    <span style="color:#fff; margin-left:15px">Street View Options</span>
</div>


<div class="c-config-content">
    Address Control:
    <input type="checkbox" ng-model="config.AddressControl">
</div>

<div class="c-config-content">
    Click To Go:
    <input type="checkbox" ng-model="config.ClickToGo">
</div>

<div class="c-config-content">
    Disable Default UI:
    <input type="checkbox" ng-model="config.DisableDefaultUI">
</div>

<div class="c-config-content">
    Disable Double Click Zoom:
    <input type="checkbox" ng-model="config.DisableDoubleClickZoom">
</div>

<div class="c-config-content">
    Image Date Control:
    <input type="checkbox" ng-model="config.ImageDateControl">
</div>


<div class="c-config-content">
    Pan Control:
    <input type="checkbox" ng-model="config.PanControl">
</div>


<div class="c-config-content">
    Zoom Control:
    <input type="checkbox" ng-model="config.ZoomControl">
</div>